<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <rewrite>
       <rules>
        <rule name="index" stopProcessing="true">
            <match url="(.*)$" />
			<conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
            <action type="Rewrite" url="index.php?{R:1}" appendQueryString="true" />
        </rule>
		<rule name="safe">
			<match url="^template/(.*)\.(html|php)$" />
			<action type="Rewrite" url="index.php" />
		</rule>
		<rule name="safe2">
			<match url="^template/(.*)/?$" />
			<action type="Rewrite" url="index.php" />
		</rule>
		<rule name="safe3">
			<match url="^temp/(data|db|robotlog|tplrules|errpage|logs|session)/(.*)$" />
			<action type="Rewrite" url="index.php" />
		</rule>
		<rule name="safe4">
			<match url="^(temp|template|core|static)/(.*)\.php$" />
			<action type="Rewrite" url="index.php" />
		</rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>