<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{$theme_path}/css/base.css" rel="stylesheet">
<link href="{$theme_path}/css/m.css" rel="stylesheet">
<script src="{$theme_path}/js/jquery-1.8.3.min.js" ></script>
<script src="{$theme_path}/js/comm.js"></script>
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="{网站地址}">{网站名称}</a></div>
 <nav>
<ul id="starlist">
     <li><a href="{网站地址}" title="首页">网站首页</a></li> 
     {menu row='5'}
     <li><a href="{$vo.typeurl}" title="{$vo.typename}" target="_blank">{$vo.typename}</a></li> 
	{/menu}
    </ul>
</nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<!--top end-->