<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cache-control" content="no-siteapp">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<meta name='robots' content='max-image-preview:large' />
{include file="styles.html"}
</head>
<body class="archive category searchon m-nav-full catpage-catstep">
{include file="header.html"}
<section class="container">
	
	<div class="breadcrumbs">
	<a href="/">首页</a> &raquo; <a href="{$thisurl}">{$typename}</a></div>	
	<div class="leader">
	    <h1>{$typename}</h1>
	</div>

	
	<div class="cms-loop-product-container">

    <div class="cms-loop-product-sidebar">
        <div class="cms-loop-product-filters">
                        <h3><i class="faent">&#xe61f;</i>商品分类 <span class="far" etap="all_lists"><i class="faent">&#xe6a8;</i></span></h3>
            <ul>
				{loop type="catelog" row=8 tpl="goodslist"}
                  <li class="cat-item {if $vo.id==$cid}current-cat{/if}"><a href='{$vo.typeurl}'>{$vo.typename}</a><span class='childrengo'><i class='faent faent1'>&#xe613;</i><i class='faent faent2'>&#xe614;</i></span></li>
                  {/loop}
            </ul>
        </div>
        <ul class="cattags">
		{loop type="keywords" row=10}
		<li><a href="{$vo.url}">{$vo.title}</a></li>
		{/loop}
		</ul>
		</div>

    <div class="cms-loop-product-content">
	{loop type="arclist" row="16" ename="goods" tpl="goods"}
		<article class="cms-loop-item"><a class="thumbnail" href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" class="thumb"/></a>
		<h2><a href="{$vo.url}">{$vo.title}</a></h2>
		<footer><span class="price">￥{$vo.add_data.price}</span></footer>
	</article>
			{/loop}
	
	</div>
	
	<div class="pagination pagination-multi">
	<ul>
		<li class="prev-page"></li>
		{loop type="page" tpl="goodslist"}
			{if $page==$vo.title}
				<li class="active"><span>{$vo.title}</span></li>
			{else}
				<li><a href="{$vo.url}">{$vo.title}</a></li>
			{/if}
		{/loop}
	</ul></div>
</div>
	
</section>

{include file="footer.html"}
</body>
</html>