<div id="youl">
{loop type="domain"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
	
   {loop type="flink"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
{loop type="link"}
   <a href="{$vo.url}" target="_blank">{$vo.title}</a>
   {/loop}
</div>

<div id="foot">
<ul>
<li >Copyright &copy; {date('Y')} Powered by <a href="{$thisurl}">{$title}</a>,<a href="{$web_url}">{$web_name}</a>&nbsp;&nbsp;{$web_tongji} {if $web_beian}<a target="_blank" href="http://beian.miit.gov.cn" rel="nofollow">{$web_beian}</a>{/if} <a href="http://{$host}/sitemap.xml">sitemap</a></li>
</ul>
</div>
{$web_share}
{$web_bdpush}