
<footer class="footer">
	<div class="container">
		<p>&copy; {date('Y')} <a href="{网站地址}">{网站名称}</a> &nbsp;<a href="{网站地址}sitemap.xml">网站地图</a>{统计代码} {if $web_beian}<a target="_blank" href="http://beian.miit.gov.cn" rel="nofollow">{$web_beian}</a>{/if}</p>
	</div>
</footer>
{$web_share} 
{$web_bdpush}
<div class="rollbar rollbar-rb">
	<ul>
		<li class="rollbar-totop"><a href="javascript:(jsui.scrollTo());"><i class="fa fa-angle-up"></i><span>回顶</span></a><h6>回顶部<i></i></h6></li>
	</ul>
</div>
<script type='text/javascript' src='{$theme_path}/js/loader.js?ver=6.2'></script>
</body>
</html>