<!DOCTYPE HTML>
<html>
<head>
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
{include file="header.html"}
<body class="post-template-default single single-post single-format-standard nav_fixed m-excerpt-cat m-excerpt-time comment-open site-layout-2 text-justify-on m-sidebar">
	<div class="breadcrumbs">
		<div class="container">
			当前位置：<a href="{网站地址}">{网站名称}</a> <small>></small> <a href="{$typeurl}">{$typename}</a><small>></small> 正文</div>
	</div>
<section class="container">
	<div class="content-wrap">
	<div class="content">
		<header class="article-header">
			<h1 class="article-title"><a href="{$thisurl}">{$title}</a></h1>
			<div class="article-meta">
				<span class="item">{$postdate}</span>
				<span class="item">分类：<a href="{$typeurl}" rel="category tag">{$typename}</a></span>
				<span class="item post-views">阅读({随机数字})</span>
			</div>
		</header>
		{$body}	
	<div class="post-actions">
    	<a href="javascript:;" etap="like" class="post-like action action-like"><i class="fa fa-thumbs-o-up"></i>赞(<span>{随机数字}</span>)</a>            
    </div>
        		<div class="post-copyright">未经允许不得转载：<a href="{网站地址}">>{网站名称}</a> &raquo; <a href="{$thisurl}">{$title}</a></div>		
					<div class="action-share"></div>
		<div class="article-tags"></div>
		
		            <nav class="article-nav">
                <span class="article-nav-prev">上一篇<br>{loop type="arclist" row=1 }<a href="{$vo.url}">{$vo.title}</a>{/loop}</span>
                <span class="article-nav-next">下一篇<br>{loop type="arclist" row=1 }<a href="{$vo.url}">{$vo.title}</a>{/loop}</span>
            </nav>
		<div class="aub aub-post aub-post-02"></div>
		
		<div class="relates"><div class="title"><h3>相关推荐</h3>
		</div>
		<ul>
			{loop type="arclist" row=8 }
			<li><a href="{$vo.url}">{$vo.title}</a></li>
			{/loop}
			</ul>
			</div>	
		</div>
	</div>
{include file="right.html"}
</section>
{include file="footer.html" }