<!-- flink -->
<div class="flink w960 center">
<dl class="tbox">
	<dt>
	<strong>友情链接</strong>
	</dt>
	<dd>
	<ul class="f4">{loop type="domain"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>&nbsp;&nbsp;{/loop}  </ul>
	 
	 <ul class="f5">
	   {loop type="flink"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
{loop type="link"}
       <li ><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
	   {/loop}
	   </ul>
	</dd>
  </dl>
</div>
<!-- /flink  -->
<div class=bottomline></div><!-- <div class='bottomversion'></div> -->
<div class=bottomcopyright>
copyright &copy; {date('Y')} powered by <a href="{$web_url}">{$web_name}</a>&nbsp;&nbsp;{$web_tongji} {if $web_beian}<a target="_blank" href="http://beian.miit.gov.cn" rel="nofollow">{$web_beian}</a>{/if} <a href="http://{$host}/sitemap.xml">sitemap</a>
</div></div></div>
{$web_share}{$web_bdpush}