{include file="header.html"}
<!-- E touch-top-wrapper --><!-- ==================== E top ==================== --><!-- ==================== S header ==================== -->
<div id="a1portalSkin_headerAreaA" class="header"><!-- Start_Module_228969 --><a name="26520" id="26520"></a>
  <div class="module-default">
    <div class="module-inner">
      <div id="a1portalSkin_ctr228969228969_mainArea" class="module-content"><!-- Start_Module_228969 --><!-- S responsive-carousel -->
        <div class="responsive-carousel carousel clearfix">
          <div id="responsive-228969">
            <div class="carousel-item" style="">
              <div class="carousel-img"><a href="javascript:;" target=""><img src="{$theme_path}/staic/images/69458de38af62357dc15400bbaa9f1dd.jpg" alt="{$web_name}" /></a></div>
            </div>
          </div>
          <div class="carousel-btn carousel-btn-fixed" id="carousel-page-228969"></div>
          <script type="text/javascript">

            $(window).load(function(){
              $("#responsive-228969").carouFredSel({
                responsive : true,
                width       : '100%',
                items  : { visible : 1 },
                auto     : { pauseOnHover: true, timeoutDuration:5000 },
                swipe     : { onTouch:true, onMouse:true },
                pagination  : "#carousel-page-228969"
                //prev   : { button:"#carousel-prev-228969"},
                //next   : { button:"#carousel-next-228969"},
                //scroll : { fx : "coverfade", duration : 1200, timeoutDuration : 1500 }
              });

              $("#responsive-228969 .carousel-item").show();
            });
          </script></div>
        <!-- E responsive-carousel --><!-- End_Module_228969 --></div>
    </div>
  </div>
</div>
<!-- ==================== E Header ==================== --><!-- ==================== S main ==================== -->
<section class="main">
  <section class="full-page-title-wrap clearfix" skinobjectzone="menu_2834">
    <h2>联系我们</h2>
  </section>
  <!-- S page-menu -->
  <section class="full-page-menu" skinobjectzone="menu_2909">
    <div class="full-page-menu-content">
      <div class="page-width">
        <ul class="clearfix" >
        </ul>
        <!-- 没有子菜单时输出 --></div>
    </div>
  </section>
  <!-- S page-menu -->
  <div class="page-width clearfix"><!-- S full-page-content -->
    <div class="full-page-content">
      <div id="a1portalSkin_mainArea" class="full-page-content-wrapper"><!-- Start_Module_228968 --><a name="25978" id="25978"></a>
        <div class="module-default">
          <div class="module-inner">
            <div id="a1portalSkin_ctr228968228968_mainArea" class="module-content"><!-- Start_Module_228968 -->
              <div class="qhd-content">
                <p style="text-align: center;">{联系地址}&nbsp;</p><p style="text-align: center;">电话：{联系电话}</p><p style="text-align: center;">传真：{联系电话}</p><p style="text-align: center;">邮编：{randstr type="2" num="6"/} </p><p style="text-align: center;">邮箱：{联系邮箱}</p>

              </div>
              <!-- End_Module_228968 --></div>
          </div>
        </div>
      </div>
    </div>
    <!-- E full-page-content --></div>
</section>
{include file="footer.html"}