<!-- ==================== E main ==================== --><!-- ==================== S footer ==================== -->

<footer class="footer">
  <div class="footer-main">
    <div id="a1portalSkin_footerAreaA" class="page-width clearfix">
      <!-- Start_Module_228961 --><a name="26514" id="26514"></a>
      <div class="module-default module-no-margin">
        <div class="module-inner">
          <div id="a1portalSkin_ctr228961228961_mainArea" class="module-content"><!-- Start_Module_228961 -->
            <div class="qhd-module">
              <div class="column">                 <div class="col-5-1">
                <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_QHDCPM228961M1" class="qhd_column_contain"><!-- Start_Module_228962 --><a name="26515" id="26515"></a>
                  <div class="module-default">
                    <div class="module-inner">
                      <div class="module-title module-title-default clearfix">
                        <div class="module-title-content clearfix">
                          <h3 style="" class="">友情链接 </h3>
                        </div>
                      </div>
                      <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_ctr228962228962_mainArea" class="module-content"><!-- Start_Module_228962 --><!-- S link-line -->
                        <div class="link link-block">
                          <ul>
                            {loop type="domain"}<li class="m-b-xs text-small"><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>{/loop}
                            {loop type="flink"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
                            {loop type="link"}
                            <li class="m-b-xs text-small"><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
                            {/loop}

                          </ul>
                        </div>
                        <!-- E link-line --><!-- End_Module_228962 --></div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-5-1">
                  <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_QHDCPM228961M1" class="qhd_column_contain"><!-- Start_Module_228962 --><a name="26515" id="26515"></a>
                    <div class="module-default">
                      <div class="module-inner">
                        <div class="module-title module-title-default clearfix">
                          <div class="module-title-content clearfix">
                            <h3 style="" class="">产品中心 </h3>
                          </div>
                        </div>
                        <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_ctr228962228962_mainArea" class="module-content"><!-- Start_Module_228962 --><!-- S link-line -->
                          <div class="link link-block">
                            <ul>

                              {loop type="catelog" row='5' tpl='product_list'}
                              <li><a href="{$vo.typeurl}" title="{$vo.typename}"><span>{$vo.typename}</span></a></li>
                              {/loop}

                            </ul>
                          </div>
                          <!-- E link-line --><!-- End_Module_228962 --></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5-1">
                  <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_QHDCPM228961M1" class="qhd_column_contain"><!-- Start_Module_228962 --><a name="26515" id="26515"></a>
                    <div class="module-default">
                      <div class="module-inner">
                        <div class="module-title module-title-default clearfix">
                          <div class="module-title-content clearfix">
                            <h3 style="" class="">新闻资讯 </h3>
                          </div>
                        </div>
                        <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_ctr228962228962_mainArea" class="module-content"><!-- Start_Module_228962 --><!-- S link-line -->
                          <div class="link link-block">
                            <ul>
                              {loop type="catelog" row='5' tpl='list'}
                              <li><a href="{$vo.typeurl}" title="{$vo.typename}"><span>{$vo.typename}</span></a></li>
                              {/loop}
                            </ul>
                          </div>
                          <!-- E link-line --><!-- End_Module_228962 --></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5-2 last">
                  <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_QHDCPM228961M4" class="qhd_column_contain"><!-- Start_Module_228964 --><a name="26517" id="26517"></a>
                    <div class="module-default">
                      <div class="module-inner">
                        <div id="a1portalSkin_ctr228961228961_Column5C20A20A20A20A20_ctr228964228964_mainArea" class="module-content"><!-- Start_Module_228964 -->
                          <div class="qhd-content">
                            <p style="text-align: center;"> <img alt="" src="{随机图片}" style="width: 120px; height: 120px;" /><br />
                              <span style="line-height: 1.8;">扫描二维码</span></p>
                          </div>
                          <!-- End_Module_228964 --></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End_Module_228961 --></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ==================== E footer ==================== --><!-- ==================== S bottom ==================== -->
<section class="bottom">
  <div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><!-- Start_Module_228966 -->
    <div class="module-default module-no-margin">
      <div class="module-inner">
        <div id="a1portalSkin_ctr228966228966_mainArea" class="module-content"><!-- Start_Module_228966 -->
          <div class="qhd-content">
            <p style="text-align: center;">Copyright &copy {date('Y')}  {$web_name} 版权所有&nbsp;&nbsp;&nbsp;<a href="{$web_url}/sitemap.xml">网站地图</a>{$web_tongji} {if $web_beian}<a target="_blank" href="http://beian.miit.gov.cn" rel="nofollow">{$web_beian}</a>{/if}</p>
            &nbsp;</div>
          <!-- End_Module_228966 --></div>
      </div>
    </div>
  </div>
</section>
<!-- ==================== E bottom ==================== -->

<!-- 应用插件标签 start -->

<!-- 应用插件标签 end --></div>
<!-- end of wrapper --><!-- S fixed-bottom  -->
<div id="a1portalSkin_fixedBottomArea" class="QHDEmptyArea fixed-bottom"></div>
<!-- E fixed-bottom  --><!-- S fixed-side -->
<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left"></div>
<!-- E fixed-side --><!-- S fixed-side -->
<!-- E fixed-side --><!-- S popup -->
<div id="popup" class="popup">
  <div class="popup-content not-animated" data-animate="fadeInDown">
    <div id="a1portalSkin_popup-area" class="QHDEmptyArea popup-content-wrapper"></div>
    <div class="popup-close-btn"><a href="javascript:;" title="关闭"><span>关闭</span></a></div>
  </div>
  <div class="popup-overlay"></div>
</div>
<!-- E popup --><!-- E go top -->
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
<!-- E go top -->

<!-- 外部脚本 -->

</body>
</html>